body{
    background-image: url('https://images.pexels.com/photos/1328887/pexels-photo-1328887.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
}
/* p{
    text-align:center;
    font-family: 'Cookie', cursive;
    font-size:30px;
}
 
.comment{
    text-align:center;
}
h1{
    text-align:center;
    font-size:45px;
    font-family: 'Abril Fatface', cursive;
} */